[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "vim/bundle/visSum"]
	path = vim/bundle/visSum
	url = git://github.com/vim-scripts/visSum.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
